{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center" style="height: 100%">
    <div class="container">
        <h1>
            Résultats à la requête:
        </h1>
        <p>
            <strong>{{ query }}</strong>.
        </p>
    </div>
</div>

<div class="row">
    <div class=" col-md-10 col-md-offset-1">
        {% for q in questions %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bell fa-fw"></i> {{q.txt}} </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for a in q.answers %}
                            <div class="list-group-item">
                                <i class="fa fa-fw fa-user"></i> {{ a.txt }}
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



 
{% endblock %}
