<hr>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3> Quid des ruptures de stock des médicaments et de la désinformation sur les vaccins </h3>

      <ul>

        Incompréhensible mais une histoire de business fort probablement

        <button> Answer </button>
      </ul>

      <h3>Recherche sanguine des cellules cancéreuses "aggressives": en avez vous entendu parler, que répondre aux patients?</h3>

      <ul>
        Oui, reflet de l'aggresivité et début d'explication sur le manque d'efficacité thérapeutique
        <button> Answer </button>
      </ul>

      <h3>Allez vous pratiquer le tiers payant?</h3>

      <ul>
        Pas de généralisation, je le pratique au coup par coup.
        <button> Answer </button>
      </ul>

      </div>

      <div class="col-md-6">
          <h3>Prise de tête avec la nouvelle nomenclature de la nouvelle convention...comment mettre en pratique? </h3>

        <ul>
          Comme d'habitude , tout est fait pour qu'on se limite à ne quoter qu'un type d'acte. La convention est une telle usine à gaz que l'on se limitera souvent à notre C de base.
          <button> Answer </button>
        </ul>

          <h3>Comment pousser les jeunes à l'installation? </h3>

        <ul>
          Expliquer aux étudiants que la profession a changé, apprendre à gérer son temps de travail, sa patientèle, accorder à sa vie de famille la place qui lui revient, tenter de faire taire la frustration de certains confrères, inviter à découvrir la profession en partageant notre expérience.
          <button> Answer </button>
        </ul>

          <h3>De la difficulté de vacciner BCG et IDR depuis le retrait des bagues et scarifications: envoyez vous comme moi en PMI?</h3>

        <ul>
          Je faisais le BCG puis j'ai envoyé en PMI (rupture) mais PMI subit auss la rupture de stock...</a>
          <button> Answer </button>
        </ul>

          <h3>Que pensez-vous de la mode "sans gluten": est ce une mode? une explosion des maladies coeliaques?Une intolérance qui pourrait être liée à une augmentation des glutens dans les farines?</h3>

        <ul>
          Purement marketing, il suffit de comparer les prix. le regime sans gluten ne doit être mis en place que dans la maladie coeliaque.</a>
          <button> Answer </button>
        </ul>

      </div>
    </div> <!-- row -->
    <div class="alert alert-info text-center" role="alert">
          Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
    </div>
  </div>
